* {
    font-family: "inter";
}

body {
    padding: 0;
    margin: 0;
}

.header {
    background-color: #303030;
    color: white;
    margin: 0;
    height: 20rem;
    justify-content: center;
    display: flex;
    padding: 1rem 4rem;
    flex-direction: column;

}

.header h1 {
    margin: 0;

}

.informacao {
    background-color: #F9F9F9;
    display: flex;
    justify-content: space-evenly;
    height: 8rem;
    align-items: center;

}

.informacao h1,
.informacao p {
    margin: 0.5rem 0;

}

.informativo {
    display: flex;
    justify-content: center;
    margin: 5rem 0;
}

.texto {
    width: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}

.texto p {
    font-size: 19.5px;

}

.formulario {
    background-color: #303030;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;

}

.formulario input {
    height: 2rem;
    border: none;
    border-radius: 7px;
    font-size: 15px;
    margin: 10px;
    width: 250px;
    padding: 3.5px;

}
.botao{

background-color: #C07212;
color: white;
padding: 14px;
border-radius: 7px;
margin-top: 30px;
border: none;
width: 180px;

}